<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <link rel="icon" href="https://static.jianshukeji.com/highcharts/images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>.highcharts-axis-resizer {
        stroke: #eee;
    }

    .highcharts-axis-resizer:hover {
        stroke: #ccc;
    }
    </style>
    <script src="https://img.hcharts.cn/jquery/jquery-1.8.3.min.js"></script>
    <script src="https://img.hcharts.cn/highstock/highstock.js"></script>
    <script src="https://img.hcharts.cn/highcharts/modules/exporting.js"></script>
    <script src="https://img.hcharts.cn/highcharts-plugins/highcharts-zh_CN.js"></script>
</head>
<body>

<div>
    <div id="container" style="min-width:400px;height:400px"></div>
    <div id="container2" style="min-width:400px;height:400px"></div>
</div>
<div id="info"></div>
<script>
    $.getJSON('/process/' +{{ pid|tojson }}, function (data) {

        // 去掉多余的数据
        Highcharts.each(data, function (d) {
            d.length = 2;
        });
        Highcharts.stockChart('container', {
            rangeSelector: {
                selected: 2
            },
            title: {
                text: '内存占用率'
            },
            plotOptions: {
                series: {
                    showInLegend: true
                }
            },
            tooltip: {
                split: false,
                shared: true
            },
            series: [{
                type: 'line',
                id: data.pid,
                name: '内存占用率',
                data: data.memory_percent
            },
            ]
        });
    });

</script>
<script>
    $.getJSON('/process/' +{{ pid|tojson }}, function (data) {

        Highcharts.each(data, function (d) {
            d.length = 2;
        });
        Highcharts.stockChart('container2', {
            rangeSelector: {
                selected: 2
            },
            title: {
                text: 'cpu占用率'
            },
            plotOptions: {
                series: {
                    showInLegend: true
                }
            },
            tooltip: {
                split: false,
                shared: true
            },
            series: [{
                type: 'line',
                id: data.pid,
                name: 'cpu占用率',
                data: data.cpu_percent
            },
            ]
        });
        info = document.getElementById('info');
        data = eval(data.info)
        for(var i =0; i<data.length;i++){
            node = document.createTextNode(data[i]);
            info.appendChild(node);
        }

    });


</script>
<script>
    info = document.getElementById('info')

</script>
</body>
</html>